<%= form_with(model: country, local: true) do |form| %>
  <% if country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <h2>States</h2>
  <ul class="fields">
    <%= form.fields_for :states do |state| %>
        <li>
          <%= state.text_field :name %>
          <% if !state.object.id.nil? %>
            <%= state.check_box :_destroy %> (check to delete)
          <% end %>

          <ul>
            <%= state.fields_for :cities do |city| %>
              <li>
                <%= city.text_field :name %>
                <% if !city.object.id.nil? %>
                  <%= city.check_box :_destroy %> (check to delete)
                <% end %>
              </li>
            <% end %>

            <% if !state.object.id.nil? %>
              <%= state.fields_for :cities, City.new do |city| %>
                <li>
                  <%= city.text_field :name %>
                </li>
              <% end %>
            <% end %>
          </ul>

        </li>
    <% end %>
  </ul>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
