<%= form_with(model: country, local: true) do |form| %>
  <% if country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <h2 class="">States</h2><h4>and cities</h4>
  <ul class="list-group">
    <%= form.fields_for :states do |state| %>
        <li class="list-group-item">
          <%= state.text_field :name ,placeholder: 'state name'%>
          <% if !state.object.id.nil? %>
            <%= state.check_box :_destroy %> <span class="font-size-smaller "> (check to delete) </span>
          <% end %>

          <ul class="list-group">
            <%= state.fields_for :cities do |city| %>
              <li class="list-group-item">
                <%= city.text_field :name ,placeholder: 'city name'%>
                <% if !city.object.id.nil? %>
                  <%= city.check_box :_destroy %> <span class="font-size-smaller "> (check to delete) </span>
                <% end %>
              </li>
            <% end %>

            <% if !state.object.id.nil? %>
              <%= state.fields_for :cities, City.new do |city| %>
                <li class="list-group-item">
                  <%= city.text_field :name , placeholder: "city name"%>
                </li>
              <% end %>
            <% end %>
          </ul>

        </li>
    <% end %>
  </ul>
  <hr class="invisible">
  <div class="row">
    <div class="col col-xl-3 col-lg-3 col-md-6">
      <%= form.submit 'Save', class: 'btn btn-success btn-block'%>
    </div>
  </div>

<% end %>
